<div class ="row">
  <img class="cola" src="./assets/angimg3/bhilwara.png" alt="Bhilwara Logo" width="100px"  height="80px">
   <h1 class="text"> BHILWARA INFOTECHNOLOGY </h1>
   <a href="login"><button class="btn">Login</button></a>
   <!-- <button class="btn">Login</button> -->
   <button class="btn1">Logout</button>
   
   
   </div>
   <div class="row1">
          <h1 class="text2"> Welcome to Bhilwara</h1> 
   </div>
   <!-- <div class="slides" style="max-width:500px">
          <img class="mySlides" src="imgone.jpg">
          <img class="mySlides" src="imgtwo.jpg">
          <img class="mySlides" src="imgtwo.jpg.jpg">
  </div> -->
  <div class="slides">
          <img class="mySlides" src="./assets/angimg3/imgfour.jpg">
          
  </div>

       <div class="row3">
<span id="one">Phone no:7890675890 </span>
<span id="two">   Locaton: Fortune Summit IT Park,Silk Board,Bangalore</span>
<span id="three">Fax: 9087654365</span>

</div>